ERFWindowsService/Service References/ServiceReference1/ERFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ERFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://140.128.135.12/ERFService/ERFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://140.128.135.12/ERFService/ERFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://140.128.135.12/ERFService/ERFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService2" />
      <xsd:import schemaLocation="http://140.128.135.12/ERFService/ERFService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://140.128.135.12/ERFService/ERFService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IERFService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IERFService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IERFService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IERFService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IERFService_getvalue_InputMessage">
    <wsdl:part name="parameters" element="tns:getvalue" />
  </wsdl:message>
  <wsdl:message name="IERFService_getvalue_OutputMessage">
    <wsdl:part name="parameters" element="tns:getvalueResponse" />
  </wsdl:message>
  <wsdl:message name="IERFService_storeavalue_InputMessage">
    <wsdl:part name="parameters" element="tns:storeavalue" />
  </wsdl:message>
  <wsdl:message name="IERFService_storeavalue_OutputMessage">
    <wsdl:part name="parameters" element="tns:storeavalueResponse" />
  </wsdl:message>
  <wsdl:portType name="IERFService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IERFService/GetData" message="tns:IERFService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IERFService/GetDataResponse" message="tns:IERFService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IERFService/GetDataUsingDataContract" message="tns:IERFService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IERFService/GetDataUsingDataContractResponse" message="tns:IERFService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getvalue">
      <wsdl:input wsaw:Action="http://tempuri.org/IERFService/getvalue" message="tns:IERFService_getvalue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IERFService/getvalueResponse" message="tns:IERFService_getvalue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="storeavalue">
      <wsdl:input wsaw:Action="http://tempuri.org/IERFService/storeavalue" message="tns:IERFService_storeavalue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IERFService/storeavalueResponse" message="tns:IERFService_storeavalue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IERFService" type="tns:IERFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IERFService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IERFService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getvalue">
      <soap:operation soapAction="http://tempuri.org/IERFService/getvalue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="storeavalue">
      <soap:operation soapAction="http://tempuri.org/IERFService/storeavalue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ERFService">
    <wsdl:port name="BasicHttpBinding_IERFService" binding="tns:BasicHttpBinding_IERFService">
      <soap:address location="http://140.128.135.12/ERFService/ERFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>